.App {
  text-align: left;
  color: #B9B4C7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titulo{
  margin-left: 20px;
}

.subtitulo{
  margin: 25px auto 25px 50px;
}


.lista {
  margin-left: 15px;
  margin-bottom: 25px;
  list-style-position: inside;
  color: #5C5470;
}

.pregunta {
  font-weight: bold;
  color: #B9B4C7;
}

.opcion {
  display:block;
  margin: 5px auto auto 25px;
  color: #B9B4C7;
}

.boton {
  margin-right: 5px;
  accent-color: #5C5470;
}

.espacio {
  margin-top: 15px;
}

.boton:after {
  width: 6px;
  height: 6px;
  border-radius: 8px;
  position: relative;
  background-color: #B9B4C7;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid #ded8f0;
}

.boton:checked:after {
  width: 6px;
  height: 6px;
  border-radius: 8px;
  position: relative;
  background-color: #5C5470;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid #ded8f0;
}